<launch>


<include file="$(find servo_control)/launch/servo_control.launch" />
<include file="$(find laser_assembler)/launch/laser_assembler.launch" />
<include file="$(find urg_node)/launch/urg_lidar.launch" />
<!-- <include file="$(find lpms_imu)/launch/lpms_imu.launch" /> -->
<node name="rviz" pkg="rviz" type="rviz"></node>
<node type="stack_controller_node" pkg="stack_controller" name="core_controller" launch-prefix="xterm -e">
</node>
</launch>